DJANGO_SECRET_KEY=nuvvi-dev-secret-key-change-in-production
MATIAS_ENCRYPTION_KEY=
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_SETTINGS_MODULE=config.settings.development
ENVIRONMENT=development

DATABASE_URL=mysql://nuvvi:nuvvi_password@mysql:3306/nuvvi_db
MYSQL_DATABASE=nuvvi_db
MYSQL_USER=nuvvi
MYSQL_PASSWORD=nuvvi_password
MYSQL_ROOT_PASSWORD=nuvvi_root_password
MYSQL_HOST=mysql
MYSQL_PORT=3306

REDIS_URL=redis://redis:6379/0

CORS_ALLOWED_ORIGINS=http://localhost:8002,http://127.0.0.1:8002
CSRF_TRUSTED_ORIGINS=http://localhost:8002,http://127.0.0.1:8002

JWT_ACCESS_TOKEN_LIFETIME_MINUTES=60
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7

CREATE_DEFAULT_SUPERUSER=false
DEFAULT_SUPERUSER_EMAIL=admin@nuvvi.local
DEFAULT_SUPERUSER_PASSWORD=Admin12345*
DEFAULT_SUPERUSER_NAME=Super Admin Nuvvi

MATIAS_API_BASE_URL=
MATIAS_API_KEY=
MATIAS_API_SECRET=
DIAN_ENVIRONMENT=sandbox
